.headerBar {
  background-color: #282828;
  padding: 1rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.search input {
  background-color: #3e3e3e;
}

.headerBar :global .logo {
  text-align: center;
  margin-top: 0.3rem;
}
